* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  html {
    /*Variáveis*/
    --bg-color: #EDF2FF;
    --text-color: #00082F;
    --primary-color: #4263EB; 
    --primary-color-dark: #364FC7;
  }
  
  body.dark-blue {
    --bg-color: #00082F;
    --text-color: #FFFFFF;
  }
  
  body.pink {
    --bg-color: #FFF0F6;
    --text-color: #1F000B;
    --primary-color: #D6336c;
    --primary-color-dark: #A61E4D;
  }
  
  body.dark-pink {
    --bg-color: #1F000B;
    --text-color: #FFFFFF;
    --primary-color: #D6336c;
    --primary-color-dark: #A61E4D;
  }
  
  body.green{
    --bg-color: #d8e6d5;
    --text-color: #102915;
    --primary-color: #53cb67;
    --primary-color-dark: #45ac56;
  }
  
  body.dark-green {
    --bg-color: #102915;
    --text-color: #FFFFFF;
    --primary-color: #53cb67;
    --primary-color-dark: #45ac56;
  }
  
  body.yellow {
    --bg-color: #f6f9e1;
    --text-color: #1f1e0c;
    --primary-color: #e6d44b;
    --primary-color-dark: #c9b942;
  }
  
  body.dark-yellow {
    --bg-color: #1f1e0c;
    --text-color: #FFFFFF;
    --primary-color: #e6d44b;
    --primary-color-dark: #c9b942;
  }
  
  body.black {
    --bg-color: #000000;
    --text-color: #FFFFFF;
    --primary-color: #575757;
    --primary-color-dark: #434343;
  }
  
  body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
  }
  
  .container {
    text-align: center;
    width: 300px;
    margin: 60px auto;
    padding: 0px 40px;
  }
  
  img {
    width: 100%;
  }
  
  img.avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 3.7px;
    border: var(--primary-color) solid 4px;
  }
  
  h1 {
    font-size: 28px;
    margin-top: 24px;
    margin-bottom: 8px;
  }
  
  p.username {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400px;
    opacity: 0.8;
    font-size: 18px;
  }
  
  ul {
    list-style: none;
    margin: 48px 0;
  }
  
  
  ul li a {
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color); /* hex: 0 - F*/
    color: white;
    text-transform: uppercase;
    font-size: 14px;
  
    margin-bottom: 16px;
    border-radius: 6px;
  
    transition: background 400ms;
  }
  
  /*pseudo-class*/
  ul li a:hover {
    background: var(--primary-color-dark);
  }
  
  footer {
    font-weight: 500;
    font-size: 12px;
    opacity: 0.6;
    transition: opacity 400ms;
  }
  
  footer:hover {
    opacity: 1;
  }
  
  footer a {
    color: var(--text-color);
  }